{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload an Image for Classification</title>
    <link rel="stylesheet" href="{% static 'image_classifier/image_classifier.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap">

    <script src="{% static 'image_classifier/image_classifier.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <div class="classification-header">
            <h1>Inference API <img src="{% static 'users/Cost Curve Logo.png' %}" 
                alt="CostCurve.ai Logo" style="width: 25px; height: auto;"></h1>
            <p>Image Classification</p>
        </div>
        <div class="upload-area" id="upload-area">
            <!-- Image upload form -->
            <form method="post" enctype="multipart/form-data" class="upload-form">
                {% csrf_token %}
                <input type="file" id="id_image" accept="image/*" style="display: none;"> <!-- Hidden input -->
                <div class="form-group file-upload" id="file-upload">
                    <span id="upload-text">Drag image file here or click to browse from your device</span>
                </div>
                <div id="loading-bar" class="loading-bar" style="display: none;"></div>
            </form>
        </div>
        <div class="image-preview-container">
            <!-- Image preview section -->
            <div id="image-preview" class="image-preview" style="display: none;">
                <img id="preview-image" class="preview-image-small" src="" alt="Uploaded Image Preview">
            </div>

            <!-- Classification results section -->
            <div id="classification-results" class="classification-results" style="display: none;">
                <h2>Classification Results:</h2>
                <P>This model is a fine-tuned version of google/vit-base-patch16-224-in21k on the nateraw/food101 dataset</P>
                <ul id="results-list"></ul>
            </div>
        </div>
    </div>
</body>
</html>