.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    height: 100vh; /* Make the container take up the full viewport height */
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%; /* Use full height of the container */
}

.static-section {
    margin-bottom: 20px; /* Add space between sections */
}

.pdf-viewer {
    flex: 1;
    height: 70%; /* Increase height for better viewing */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.form-section {
    flex: 1;
    overflow-y: auto;
    max-height: 100%; /* Use full height of the container */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9; /* Light background for contrast */
}

.reference-fields, .editable-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.reference-fields .field, .editable-fields .field {
    flex: 1 1 30%; /* Adjust to make three columns */
}

.field label {
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    display: block;
    margin-bottom: 3px;
    font-size: 12px; /* Smaller font size for better readability */
}

.field .value {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #e9ecef;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px; /* Smaller font size for better readability */
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form .editable-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

form .field {
    flex: 1 1 48%; /* Adjust to make two columns */
    display: flex;
    flex-direction: column;
}

.section-title, .gl3-table h3, .ai-section-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    width: 100%; /* Ensure titles take up full width */
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px; /* Add space between title and fields */
}

form .field label {
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #555;
    margin-bottom: 5px;
    font-size: 12px;
}

form input, form select, form textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

form textarea {
    resize: vertical;
    min-height: 30px;
    max-height: 50px; /* Set a maximum height */
}

form button {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #0056b3;
}



.filter-section {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
}

.filter-section .field {
    display: flex;
    flex-direction: column;
    flex: 1; /* Make all filters take equal width */
}

.filter-section label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    font-size: 11px;
    padding: 5px; /* Add padding to make the label larger */
    background-color: #f9f9f9; /* Add background color to distinguish label area */
    border-radius: 4px; 
}

.filter-section select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.gl3-table {
    margin-top: 5px;    
    margin-bottom: 20px; /* Add space below the table */

}

.gl3-table h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.gl3-table table {
    width: 100%;
    border-collapse: collapse;
    
}

.gl3-table table th,
.gl3-table table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 12px;
}

.gl3-table table th {
    background-color: #f4f4f4;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333;
}

.gl3-table table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.gl3-table table tr:hover {
    background-color: #e2e2e2;
}


.ai-product-section {
    margin-top: 20px; /* Add space above the new section */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons and results */
}

.ai-button {
    padding: 8px 12px;
    font-size: 12px;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Darker text color */
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px;
    cursor: pointer;
    width: 200px; /* Adjust button width */
    text-align: left; /* Align text to the left */
}

.ai-button:hover {
    background-color: #e0e0e0; /* Slightly darker gray on hover */
}

.ai-result {
    margin-top: 20px; /* Add space above results */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 50px;
    white-space: pre-line; /* Preserve line breaks */
    font-size: 14px; /* Adjust font size */
}


/* Add this CSS for the generating text container */
.generating-container {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #e0e0e0; /* Subtle background color */
    padding: 10px 20px;
    border-radius: 8px; /* Rounded corners */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px; /* Adjust font size */
    color: #333;
    margin-top: 10px; /* Space above the result container */
}

.selected-gl3 {
    margin: 20px 0; /* Add space around the container */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f0f0f0;
    display: none; /* Initially hidden */
    width: 300px; /* Set a fixed width */
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center the div horizontally */
}

.selected-gl3 .field {
    margin: 0;
    padding: 5px;
    display: block;
    width: 100%; /* Ensure the field takes the full width of the container */
}

.selected-gl3 .field label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px; /* Add some space between the label and the value */
}

.selected-gl3 .field .value {
    color: #555;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ddd; /* Add a border to the value box */
}

.gl3-table tr:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.gl3-table tr.selected {
    border-left: 5px solid #007bff;
    background-color: #d1e7ff;
}
