/* New container for the line items by invoice page */
.line-items-invoice-container {
    display: flex;
    flex-direction: column;
    max-width: 1700px;
    margin: 9px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Table Enhancements */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #f2f2f2; /* Smooth dark borders for contrast */
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-size: 9px; /* Adjusted for consistency and readability */
    border-right: 1px solid #f2f2f2;
  }
  
  td {
    font-size: 11px; /* Slightly larger text for content */
  }
  
  .table-hover tbody tr:hover {
    background-color: #f5f5f5; /* Light grey background on hover */
  }
  
  .mapped-line-item {
    font-weight: bold;
    color: #5cb85c; /* Bootstrap's success color for green */
    background-color: #dff0d8; /* Light green background */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 10px;
}

.map-line-item {
    font-weight: bold;
    color: #d9534f; /* Bootstrap's danger color for red */
    background-color: #f9d6d5; /* Light red background */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 10px;

}