{% extends 'users/main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'invoice/general_ledger_accounts.css' %}">
{% endblock %}

{% block content %}
<div class="container2">
    <h2>General Ledger Accounts</h2>
    <div class="filter-section">
        <label for="gl_level_1">GL Level 1</label>
        <select id="gl_level_1">
            <option value="">Select GL Level 1</option>
            {% for gl1 in gl_level_1 %}
                <option value="{{ gl1.gl_level_1_id }}">{{ gl1.gl_level_1_name }}</option>
            {% endfor %}
        </select>

        <label for="gl_level_2">GL Level 2</label>
        <select id="gl_level_2" disabled>
            <option value="">Select GL Level 2</option>
        </select>

        
    </div>

    <div class="gl3-table">
        <table id="gl_table">
            <thead>
                <tr>
                    <th>GL Level 1</th>
                    <th>GL Level 2</th>
                    <th>GL Level 3</th>
                </tr>
            </thead>
            <tbody>
                {% for gl in gl_level_3 %}
                <tr>
                    <td>{{ gl.gl_level_1_name }}</td>
                    <td>{{ gl.gl_level_2_name }}</td>
                    <td>{{ gl.gl_level_3_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'invoice/general_ledger_accounts.js' %}"></script>
{% endblock %}