{% extends 'users/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Impact Index</title>
    <link rel="stylesheet" href="{% static 'inventory/product_impact_index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap"></script>
</head>

<body>
    <header class="page-header">
        <h1>Product Impact Index</h1>
    </header>

    <div class="layout-container">
        <div class="table-column">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Prod ID</th>
                            <th>Prod Code</th>
                            <th>Description</th>
                            <th>Brand</th>
                            <th>Gen-Name</th>
                            <th>Enhanced</th>
                            <th>Est. Exp</th>
                            <th>GL L1</th>
                            <th>GL L2</th>
                            <th>GL L3</th>
                            <th>Total Spend</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in product_spend %}
                        <tr>
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.product_code }}</td>
                            <td>{{ product.item_description }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.generated_product_name }}</td>
                            <td>{{ product.enhanced_details }}</td>
                            <td>{{ product.estimated_expiration }}</td>
                            <td>{{ product.gl1_name }}</td>
                            <td>{{ product.gl2_name }}</td>
                            <td>{{ product.gl3_name }}</td>
                            <td>{{ product.total_spend }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="heat-map-column">
            <h3>Total Spend by Product</h3>
        </div>
    </div>

</body>
</html>

{% endblock %}