{% extends 'users/main.html' %}
{% block content %}
{% load static %}
<h4>Cost Curve Dashboard</h4>
<b></b>

<p> Cost Curve helps restaurants manage their inventory and invoices. 
</p>

<p>Our technology allows restaurants to measure, classify, and process inventory and invoice data rapidly.</p>

<p> This page will serve as a "finger tip feel" of the users buisness. </p>
<p> The page will feature key KPIs and dynamic data visuals</p>

<p> Need to establish solid data architecture before we can build this page out.</p>


{% endblock %}
        

    