{% extends 'users/main.html' %}

{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cost Curve Dashboard</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <p> Parameter for data picker, other fields like vendor, GL</p>
    <p> Total Inventory: $ </p>
    <p> Total Invoice: $ </p>
    <P> Total COGS</P>
    <p> Delta from last period</p>
    <p> Invoice Count</p>
    
</body>
{% endblock %}
</html>



    