{% extends 'users/main.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>

<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload with Inventory Product Classification</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/inventory.css'%}">
    
    
</head>

<body>
    <header>

        <!--This header needs to be the same style as NAV bar-->
        <h5>Inventory image & label upload</h5>
        
    </header>
  <p> The inventory application simplifies the <b>collection and labeling</b> of image training data. </p>
  <p> This tool enables users (restaurants) to generate high-quality training datasets for developing and improving image classification and label detection models.  </p>
  
  <br>
  <p> To add training data, follow the steps below:</p>

  <main>
    <div class="grid-container">
    <div> <p> <b>Step 1.</b> Take a photo of the inventory iteration using a smart phone 📲.</p> </div>
    <div> <p> <b>Step 2.</b> Select the data label from the Inventory Classification section that matches the inventory product.</p>
    <br>
    <form id="upload-form">
           
            <label for="type">Inventory Classification:</label>
            <br>
            <select id="type" name="type">
                <option value="">-- Select a Label --</option>
                <option value="grouper">Grouper</option>
                <option value="salmon">Salmon</option>
                <option value="trout">Trout</option>
                <option value="mussels">Mussels</option>
                <option value="sea-scallops">Sea Scallops</option>
                <option value="crab">Crab</option>
                <option value="squid">Squid</option>
                <option value="mahi">Mahi</option>
                <option value="shrimp">Shrimp</option>
                <option value="anchovies">Anchovies</option>
                <option value="clams">Clams</option>
                <option value="seafood-base">Seafood Base</option>
                <option value="sea-bass">Sea Bass (Bronzino)</option>
                <option value="cobia">Cobia</option>
                <option value="snapper">Snapper</option>
                <option value="halibut">Halibut</option>
                <option value="red-fish">Red Fish</option>
                <option value="swordfish">Swordfish</option>
                <option value="flounder">Flounder</option>
            </select>
            <br></div>

  
            <div>
            <br>
            <p> <b>Step 3.</b> Upload product image by chooseing a file<P> 
            <br>
            <label for="image">Upload Image:</label>
            <input type="file" id="image" name="image" accept="image/*">
            <br>
            </div>
   <div>
    <br>
  <p> <b>Step 4.</b> Press the upload button.</p>
  <br>
  <button type="submit">Upload</button></div>         
  
  <div>
        </form>
        <div></div>
        <br>
        <img id="uploaded-image" src="" alt="Uploaded image preview"></div>
    
</div>
   
    </main>
    
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>   
  
</body>
<br>

</html>
{% endblock %}
        
