{% load static %}
<style>
  .hello-msg{
    font-size:18px;
    color: #fff;
    margin-left: 20px;


  }
</style>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand font-weight-bold" href="{% url 'dashboard' %}"><i class="fa fa-camera"></i> CostCurve.ai </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
    aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-home"></i> Dashboard > <span class="sr-only">(current)</span>
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/inventory/"><i class="far fa-lemon"></i> Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-folder-open"></i> Invoices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Analytics</a>
        </li>
      
       
        
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'loginPage' %}"><i class="fas fa-user-tie"></i> Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-sign-in-alt"></i> Sign Up</a>
  </li>

    </div>


    <span class = "hello-msg"> Hello, <i class="fas fa-user"></i> {{ request.user }} </span>
      
  
  <span class = "hello-msg">
    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
  </span>

</nav> 


