

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cost Curve</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{% static 'users/main.css' %}">



</head>
<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand font-weight-bold" href="{% url 'dashboard' %}">
            <img src="{% static 'users/Cost Curve Logo.png' %}" alt="CostCurve.ai Logo" style="width: 30px; height: auto;"> Cost Curve
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if request.user.is_authenticated %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'loginPage' %}"><i class="fas fa-user-tie"></i> Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-sign-in-alt"></i> Sign Up</a>
                    </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <span class="hello-msg">
                {% with request.user.groups.first as group %}
                    {% if group %}
                        <span class="group-tag">{{ group.name }}</span>
                    {% endif %}
                {% endwith %}
                {% if request.user.profile.address_line_1 %}
                    <span class="address-tag">{{ request.user.profile.city }} - {{ request.user.profile.zip_code }}</span>
                {% else %}
                    <span class="address-tag">Address not available</span>
                {% endif %}
            </span>
            {% endif %}
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <!-- User Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello, <img src="{% static 'users/Cost Curve Logo.png' %}" alt="CostCurve.ai Logo" style="width: 22px; height: auto;">{{ request.user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
   
</html>