{% load static %}
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand font-weight-bold" href="#"> CostCurve.ai</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
    aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/dashboard/"><i class="fas fa-home"></i> Dashboard > <span class="sr-only">(current)</span>
        </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/inventory/"><i class="far fa-lemon"></i> Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-folder-open"></i> Invoices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Analytics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Placeholder</a>
        </li>


    </div>
</nav> 