{% extends 'users/main.html' %}
{% load static %}


{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'users/profile_style.css' %}" />
    {% block extra_css %}{% endblock %}
</head>
<div class="profile-container">
    <h3>User Profile</h3>
    <section class="profile-details">
        <div class="detail">
            <strong>Username:</strong> {{ user.username }}
        </div>
        <div class="detail">
            <strong>Email:</strong> {{ user.email }}
        </div>
        <div class="detail">
            <strong>Group:</strong>
            {% if user.groups.first %}
                {{ user.groups.first.name }}
            {% else %}
                No group assigned
            {% endif %}
        </div>
    </section>

    <h3>Update Profile</h3>
    <form method="post" class="update-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="input-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn-update">Update Profile</button>
    </form>
</div>
{% endblock %}