

<div class="container">
    <div class="sidebar">
        
        <ul class="menu-list">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li>Inventory
                <ul>
                    <li><a href="{% url 'inventory_app' %}">Inventory Processing</a></li>
                </ul>
            </li>
            <li>Invoices
                <ul>
                    <li><a href="{% url 'upload_invoice' %}">Upload Invoice</a></li>
                    <li><a href="#">Extraction Review</a></li>
                </ul>
            </li>
            <li>Analytics
                <ul>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Machine Learning</a></li>
                    <li><a href="#">Neural Network</a></li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="content">